.button-normal{
  width: 100px;
  height: 40px;
  background-color: #3AE3DE;
  font-family: 'Roboto', Arial, sanf-serif;
  border: none;
}

.button-normal:hover{
  background-color: #0A9E99;
  color: white;
}
