<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=500, initial-scale=1" />
  <title>Exemplo de página</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
  <div class="menu-lateral">
    <img [src]="'assets/logo.png'" alt="logo escrito brainly com um cérebro desenhado" />
    <ul>
      <li><span class="material-symbols-outlined">
          home
        </span><a href="#">Home</a></li>
      <li><span class="material-symbols-outlined">
          flag
        </span>
        <a href="#">Metas diárias</a>
      </li>
      <li>
        <span class="material-symbols-outlined">
          self_improvement
        </span>
        <a href="#">Área ZEN</a>
      </li>
      <li>
        <span class="material-symbols-outlined">
          psychology_alt
        </span>
        <a href="#">Seu acompanhamento</a>
      </li>
      <li>
        <span class="material-symbols-outlined">
          hearing
        </span>
        <a href="#">Ajuda online</a>
      </li>
    </ul>
  </div>

  <div class="conteudo">
    <h4 class="texto-titulo-nove-mandamentos">Os 9 mandamentos da saúde mental</h4>
    <div class="conteudo-cartoes">
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              relax
            </span>
          </div>

          <p class="texto-cartao">Cuide de si mesmo com amor e gentileza, assim como faria com um amigo.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              pan_tool
            </span>
          </div>
          <p class="texto-cartao">Aprenda a dizer não e estabeleça limites saudáveis ​​para si mesmo.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              fitness_center
            </span>
          </div>
          <p class="texto-cartao">Pratique atividades físicas e alimentação saudável regularmente.</p>
        </div>
      </div>
    </div>
    <div class="conteudo-cartoes">
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              hotel
            </span>
          </div>

          <p class="texto-cartao">Priorize o sono e tenha uma rotina de descanso adequada.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              psychology
            </span>
          </div>
          <p class="texto-cartao">Busque ajuda profissional se necessário, não há vergonha nisso.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              diversity_3
            </span>
          </div>
          <p class="texto-cartao">Conecte-se com pessoas que o apoiam e o incentivam.</p>
        </div>
      </div>
    </div>
    <div class="conteudo-cartoes">
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              spa
            </span>
          </div>

          <p class="texto-cartao">Pratique a gratidão e aprenda a apreciar as coisas simples da vida.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              self_improvement
            </span>
          </div>
          <p class="texto-cartao">Aprenda a gerenciar o estresse e a ansiedade através de técnicas de respiração e meditação.</p>
        </div>
      </div>
      <div class="cartao">
        <div class="texto">
          <div class="icone">
            <span class="material-symbols-outlined">
              headphones
            </span>
          </div>
          <p class="texto-cartao">Encontre tempo para hobbies e atividades que tragam alegria e satisfação pessoal. </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
