body {
  background-color: #EEFFFE;
  font-family: 'Roboto', sans-serif;
}

.conteudo {
  position: relative;
  top: 20px;
  left: 140px;
  width: 849px;
  height: 570px;
  background-color: white;
  padding: 40px 20px 0 20px;
  margin-left: 130px;
}
