<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
<div class="card">
  <div class="card-conteudo">
    <div class="apresentacao">
      <div style="float: left;">
        <span class="material-symbols-outlined profile-icon" style="float: left;">
          account_circle
        </span>
        <div class="info-profissional">
          <div class="nome-profissional">{{profissional}} </div>
          <div class="nome-profissao">{{especialidade}}</div>
        </div>
      </div>
    </div>
    <div class="secao-atendimento">
      <div class="data-atendimento">{{atendimento}}</div>
    </div>
  </div>

</div>