.text-icon{
  font-size: 60px;
}

.text-align{
  text-align: justify;
}

.conteudo-conversacao{
  display: flex;
  flex-direction: column;
}

.texto-cliente {
  background-color: #F2F2F2;
}

.form-envio-mensagem{
  margin-top: 250px;
}

