<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class="conteudo-conversacao">
  <div>
    <span class="material-symbols-outlined text-icon" style="float: left;">
      account_circle
    </span>

  </div>
  <div class="texto-cliente">
    Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis, nisi eros vermeio.A ordem dos tratores não altera o pão duris.Nec orci ornare consequat. Praesent lacinia ultrices consectetur. Sed non ipsum felis.Quem manda na minha terra sou euzis!

  </div>
  <div>
    <span class="material-symbols-outlined text-icon">
      smart_toy
    </span>
  </div>
  <div>
    Mussum Ipsum, cacilds vidis litro abertis. Manduma pindureta quium dia nois paga.Si num tem leite então bota uma pinga aí cumpadi!Detraxit consequat et quo num tendi nada.Admodum accumsan disputationi eu sit. Vide electram sadipscing et per.
  </div>

</div>
<div class="form-envio-mensagem">
  <app-input-brainly placeholder="mande sua mensagem" inputTypes="input-mensagem"></app-input-brainly>
  <app-button-brainly buttonDescription="Enviar" buttonTypes="button-normal" class="btn-enviar"></app-button-brainly>
</div>