<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class="conteudo-conversacao">
  <!-- <div>
    <span class="material-symbols-outlined text-icon" style="float: left;">
      account_circle
    </span>
  
  </div> -->
  <div class="texto-cliente">

  </div>
  <div class="text-align">
    <span class="material-symbols-outlined text-icon">
      smart_toy
    </span>
    {{ areaText }}
  </div>
  <div>
    
  </div>
</div>
<div class="form-envio-mensagem">
  <app-input-brainly
    placeholder="mande sua mensagem" 
    inputTypes="input-mensagem"
    [inputText]="textField" 
    (outputText)="operationOpenai($event)"
   ></app-input-brainly>
  
</div>