<h4> Suas metas </h4>

<div class="secao-pesquisar">
  <app-input-brainly placeholder="pesquisar" inputTypes="input-search input-large" width="50px"></app-input-brainly>
  <app-button-brainly buttonDescription="pesquisar" buttonTypes="button-normal" style="margin-left: 20px;"></app-button-brainly>
</div>
<div class="cards-content">
  <div class="card-meta">
    <app-cards description="Meta 1" class="content-card" cardType="cartao"> </app-cards>
    <div class="btn-meta-finalizar">
      <app-button-brainly buttonDescription="Concluir meta" buttonTypes="button-normal" class="btn-meta-finalizar"></app-button-brainly>
    </div>
  </div>
</div>