<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


<div class="menu-lateral">
  <img [src]="'assets/logo.png'" alt="logo escrito brainly com um cérebro desenhado" />
  <ul>
    <li><span class="material-symbols-outlined">
        home
      </span><a routerLink="/home" aria-current="home">Home</a></li>
    <li><span class="material-symbols-outlined">
        flag
      </span>
      <a routerLink="/metas-diarias" aria-current="metas-diarias">Metas diárias</a>
    </li>
    <li>
      <span class="material-symbols-outlined">
        self_improvement
      </span>
      <a routerLink="/area-zen" aria-current="area-zen">Área ZEN</a>
    </li>
    <li>
      <span class="material-symbols-outlined">
        psychology_alt
      </span>
      <a routerLink="/seu-acompanhamento" aria-current="seu-acompanhamento">Seu acompanhamento</a>
    </li>
    <li>
      <span class="material-symbols-outlined">
        hearing
      </span>
      <a routerLink="/ajuda-online" aria-current="ajuda-online">Ajuda online</a>
    </li>
  </ul>
</div>