<h4 class="texto-titulo-nove-mandamentos">Os 9 mandamentos da saúde mental</h4>
<div class="conteudo-cartoes">
  <app-cards description="Cuide de si mesmo com amor e gentileza, assim como faria com um amigo." icon="relax" cardType="cartao"></app-cards>
  <app-cards description="Aprenda a dizer não e estabeleça limites saudáveis ​​para si mesmo." icon="pan_tool" cardType="cartao"></app-cards>
  <app-cards description="Pratique atividades físicas e alimentação saudável regularmente." icon="fitness_center" cardType="cartao"></app-cards>
</div>
<div class="conteudo-cartoes">
  <app-cards description="Priorize o sono e tenha uma rotina de descanso adequada." icon="hotel" cardType="cartao"></app-cards>
  <app-cards description="Busque ajuda profissional se necessário, não há vergonha nisso." icon="psychology" cardType="cartao"></app-cards>
  <app-cards description="Conecte-se com pessoas que o apoiam e o incentivam." icon="diversity_3" cardType="cartao"></app-cards>
</div>
<div class="conteudo-cartoes">
  <app-cards description="Pratique a gratidão e aprenda a apreciar as coisas simples da vida" icon="spa" cardType="cartao"></app-cards>
  <app-cards description="Aprenda a gerenciar o estresse e a ansiedade através de técnicas de respiração e meditação." icon="self_improvement" cardType="cartao"></app-cards>
  <app-cards description="Encontre tempo para hobbies e atividades que tragam alegria e satisfação pessoal." icon="headphones" cardType="cartao"></app-cards>
</div>