<div class="cards-content">
  <app-cards description="ANSIEDADE" class="card-hover" cardType="cartao"></app-cards>
  <app-cards description="DEPRESSÃO" class="card-hover" cardType="cartao"></app-cards>
  <app-cards description="FILHOS" class="card-hover" cardType="cartao"></app-cards>
</div>

<div class="cards-content">
  <app-cards description="FUTURO" class="card-hover" cardType="cartao"></app-cards>
  <app-cards description="CARREIRA" class="card-hover" cardType="cartao"></app-cards>
  <app-cards description="FAMILIA" class="card-hover" cardType="cartao"></app-cards>
</div>